<br>
<br>
<div class="container-fluid"><div class="col-sm-2"></div>
<div class="container col-sm-8">
<div class="panel panel-default" style="background:transparent" >
<div class="panel-heading container-fluid "><span class="col-sm-3"></span><span class="col-sm-7"><h3 style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;" > Plan Your Marriage As You Dreamt</h3></span><span class="col-sm-2"></span></div>
<br>
<div class="panel-body" >
<!-- div for first line of options -->
<div class="container-fluid">
<div class="col-sm-1"></div>

<div class="col-sm-3">
<button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">PHOTOGRAPHY</div></button></div>


<div class="col-sm-3">
<button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">LOCATIONS</div></button></div>

<div class="col-sm-3">
<button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">FOOD & BEVERAGES</div></button></div>

                   <div class="col-sm-2"> <button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">THEME BASED</div></button></div>

</div>
<br><br>
<!-- div for first line over -->
<br><BR>
<!-- div for second line of options -->
<div class="container-fluid">
<div class="col-sm-1"></div>
<div class="col-sm-3">
<button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">PRE-WEDDING</div></button></div>


<div class="col-sm-3">
<button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">INVITATIONS</div></button></div>

<div class="col-sm-3">
<button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">CLOTHING</div></button></div>

                    <div class="col-sm-2">
<button style="background:transparent"><span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span><div style="font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;float:bottom;background:white">HONEYMOON</div></button></div>
<!-- div for second line over -->
</div>
<br>
<!-- div for third line of options -->








<!--end of panel body -->
<br>

</div>
<!-- end of panel -->

</div>
</div>

</div>